.DS_store

*.db
config.*.toml
config-*.toml
config.regtest.toml
/target
notes.org

/tools
/*.svg
/*.data

/config.toml

/regtest-data
/ord-data
config.regtest.toml
config-origin.toml
/.vscode

dev_*.sql
.venv
/*.sql
/*.csv
/*.txt
/bin/
