[Unit]
Description=OrBTC API
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=simple
User=fbtc
Group=fbtc
EnvironmentFile=/srv/orbtc/services-conf.env
ExecStart=/srv/orbtc/orbtc-api -c /srv/orbtc/orbtc.toml
Restart=on-failure

[Install]
WantedBy=multi-user.target
